<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="10 seconds" debug="false">
	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
	
	<contextName>${spring.application.name:-app}</contextName>
	
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
	<property name="LOG_FILE_NAME" value="application"/>
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
	<property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>
	
	<springProperty scope="context" name="LOG_LOCATION" source="logLocation" defaultValue="/data/weblog/java" />
	
	
	<!-- 彩色日志格式 -->
	<property name="LOG_PATTERN"
			  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
	
<!--	<property name="CONSOLE_LOG_PATTERN"-->
<!--			  value="-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%X{thread_id: -}){cyan} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>-->
<!--	-->
	<property name="CONSOLE_LOG_CHARSET"
			  value="${CONSOLE_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>
	
	<property name="FILE_LOG_PATTERN"
			  value="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
	
	<property name="FILE_LOG_CHARSET"
			  value="${FILE_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>
	
	<!-- 彩色日志依赖的渲染类 -->
	<conversionRule conversionWord="clr"
					converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
	
	<conversionRule conversionWord="wex"
					converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
	
	<conversionRule conversionWord="wEx"
					converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
	
	
	
	
	<!-- Spring日志级别控制  -->
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.web.filter" level="INFO"/>
	<logger name="org.springframework.web.filter" level="DEBUG"/>
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
	<logger name="feign.Logger" level="DEBUG"/>


	
	<!--1. 输出到控制台-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>${LOG_PATTERN}</Pattern>
			<!-- 设置字符集 -->
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
	</appender>
	
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>${FILE_LOG_CHARSET}</charset>
		</encoder>
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<cleanHistoryOnStart>false</cleanHistoryOnStart>
			<maxFileSize>128MB</maxFileSize>
			<totalSizeCap>60GB</totalSizeCap>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
	</appender>
	
	
	<!-- 自定义字段分割日志 -->
	<appender name="PILE_SIFT_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
		
		<discriminator>
			<key>idCode</key>
			<defaultValue>0</defaultValue>
		</discriminator>
		
		<sift>
			<appender name="PILE_${idCode}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				
				<encoder>
					<pattern>${FILE_LOG_PATTERN}</pattern>
					<charset>${FILE_LOG_CHARSET}</charset>
				</encoder>
				
				<file>${LOG_PATH}/pile_${idCode}.log</file>
				<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
					<fileNamePattern>${LOG_PATH}/%d/pile_${idCode}_%i.log</fileNamePattern>
					<cleanHistoryOnStart>false</cleanHistoryOnStart>
					<maxFileSize>100MB</maxFileSize>
					<totalSizeCap>60GB</totalSizeCap>
					<maxHistory>365</maxHistory>
				</rollingPolicy>
			
			</appender>
		</sift>
	</appender>
	
	
	<!-- 自定义字段分割日志 -->
	<appender name="PILE_HEART_SIFT_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
		
		<discriminator>
			<key>idCode</key>
			<defaultValue>0</defaultValue>
		</discriminator>
		
		<sift>
			<appender name="PILE_HEART_LOG_${idCode}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				
				<encoder>
					<pattern>${FILE_LOG_PATTERN}</pattern>
					<charset>${FILE_LOG_CHARSET}</charset>
				</encoder>
				
				<file>${LOG_PATH}/pile_heart_${idCode}.log</file>
				<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
					<fileNamePattern>${LOG_PATH}/%d/pile_heart_${idCode}_%i.log</fileNamePattern>
					<cleanHistoryOnStart>false</cleanHistoryOnStart>
					<maxFileSize>100MB</maxFileSize>
					<totalSizeCap>60GB</totalSizeCap>
					<maxHistory>365</maxHistory>
				</rollingPolicy>
			
			</appender>
		</sift>
	</appender>
	
	
	<!-- 自定义字段分割日志 -->
	<appender name="PILE_PACKET_SIFT_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
		
		<discriminator>
			<key>idCode</key>
			<defaultValue>0</defaultValue>
		</discriminator>
		
		<sift>
			<appender name="pile_packet_log_${idCode}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				
				<encoder>
					<pattern>${FILE_LOG_PATTERN}</pattern>
					<charset>${FILE_LOG_CHARSET}</charset>
				</encoder>
				
				<file>${LOG_PATH}/pile_packet_${idCode}.log</file>
				<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
					<fileNamePattern>${LOG_PATH}/%d/pile_packet_${idCode}_%i.log</fileNamePattern>
					<cleanHistoryOnStart>false</cleanHistoryOnStart>
					<maxFileSize>100MB</maxFileSize>
					<totalSizeCap>60GB</totalSizeCap>
					<maxHistory>365</maxHistory>
				</rollingPolicy>
			
			</appender>
		</sift>
	</appender>
	
	
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
	
	<!-- 心跳包日志输出 -->
	<logger name="MachineHeartbeatLogger" level="OFF"/>
	<logger name="MachinePacketLogger" level="OFF"/>
	<logger name="com.huamar.charge.pile" level="OFF"/>
	
	<!-- 设备心业务日志 -->
	<logger level="INFO" name="com.huamar.charge.pile" additivity="true">
		<appender-ref ref="PILE_SIFT_FILE"/>
	</logger>
	
	<!-- 设备心业务日志 -->
	<logger level="INFO" name="MachinePacketLogger" additivity="false">
		<appender-ref ref="PILE_SIFT_FILE"/>
	</logger>
	
	<!-- 设备心跳包日志 -->
	<logger level="INFO" name="MachineHeartbeatLogger" additivity="true">
		<appender-ref ref="PILE_HEART_SIFT_FILE"/>
	</logger>
	
	<!-- 设备数据包日志 -->
	<logger level="INFO" name="MachinePacketLogger" additivity="false">
		<appender-ref ref="PILE_PACKET_SIFT_FILE"/>
	</logger>
	
	
</configuration>