version: "3.8"
services:
# 通讯端
  charge_pile_machine:
    logging:
      driver: "json-file"
      options:
        # 日志文件大小
        max-size: "500m"
        # 日志的数量
        max-file: "10"
#    depends_on:
#      charge_pile_nacos:
#        condition: service_healthy

    container_name: charge_pile_machine
    image: charge_pile_machine:latest
    restart: always
    privileged: true
    extra_hosts:
      - "dev.charge-pile-nacos-internal.huamar.com:192.168.10.14"
    ports:
      - "8886:8886"
      - "8881:8881"
    environment:
      TZ: Asia/Shanghai
      JAVA_OPTS: -Xms128m -Xmx1024m -Dspring.profiles.active=default,dev,linux -Dspring.devtools.restart.enabled=false